app/views/layouts/* linguist-vendored
app/views/devise/* linguist-generated
test/* linguist-generated
bin/* linguist-generated
log/* linguist-generated
app/assets/* linguist-vendored
db/*  linguist-generated
