<p id="notice"><%= notice %></p>

<p>
  <strong>Semanas:</strong>
  <%= @viaje_recurrente.semanas %>
</p>

<%= link_to 'Edit', edit_viaje_recurrente_path(@viaje_recurrente) %> |
<%= link_to 'Back', viaje_recurrentes_path %>
