<%= stylesheet_link_tag    'form' %>
<%= javascript_include_tag 'form' %>
<%= render 'form', car: @car %>
<br></br>
<button class="button button-mid" type="submit" name="button"><%= button_to "Cancel",
          :back,
          method: :get %></button>
