<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>FELICITACIONES <%= @salchichónAhumado.full_name %></h1>
    <p title="deja la frula capo">
      Tu solicitud para viajar a <%= @birra.destino %> fue aceptada.
      debes contactar al chofer <%= @birra.chofer.full_name %> en nuesra plataforma.
      si tienes alguna consulta, queja o sugerencia no dudes en contactarnos en nuestra pagina
    </p>
  </body>
</html>
