<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @viaje.chofer.full_name%></h1>
    <p title="tostada con manteca y dejeló no más">
      Tienes una nueva solicitud para viaje <%= @viaje.origen %>--<%= @viaje.destino %> del dia <%= l @viaje.fecha, locale: :es %>
      puedes contactar al pasajero en nuesra plataforma.
      si tienes alguna consulta, queja o sugerencia no dudes en contactarnos en nuestra pagina
    </p>
  </body>
</html>
