<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @salchichónAhumado.full_name %></h1>
    <p >
      el pasajero canceló para viajar a <%= @birra.destino %> .recurrrente      
      si tienes alguna consulta, queja o sugerencia no dudes en contactarnos en nuestra pagina
    </p>
  </body>
</html>
