<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para cambiar to contrasenia. <!--Someone has requested a link to change your password. You can do this through the link below. --> </p>

<p><%= link_to 'Cambiar mi contrasenia', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste esto, por favor ignora este email. <!-- If you didn't request this, please ignore this email. --></p>
<p>Tu contrasenia no cambiara hasta que accedas al link de arriba. <!--Your password won't change until you access the link above and create a new one. --> </p>
