<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Lo sentimos <%= @unchabón.full_name %></h1>
    <p title="deja la frula capo">
      Tu solicitud para viajar a <%= @quebuen_cafe_tienenEn_la_bastilla.destino %> este <%= l @quebuen_cafe_tienenEn_la_bastilla.fecha,locale: :es%> fue cancelada.
      si tienes alguna consulta, queja o sugerencia no dudes en contactarnos en nuestra pagina
    </p>
  </body>
</html>
