<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @pasajero.full_name %> se canceló un viaje</h1>
    <p title="deja la frula capo">
      <%= @vi.chofer.full_name %> ha cancelado su viaje a <%= @vi.destino%>
      si tienes alguna consulta, queja o sugerencia no dudes en contactarnos en nuestra pagina
    </p>
  </body>
</html>
