<p id="notice"><%= notice %></p>

<p>
  <strong>Viaje recurrentes:</strong>
  <%= @semana.viaje_recurrentes %>
</p>

<%= link_to 'Edit', edit_semana_path(@semana) %> |
<%= link_to 'Back', semanas_path %>
