<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Aventon</a>
    </div>
    <ul class="nav navbar-nav">
      <%= form_tag("/search/balance", method: "get",class: 'navbar-form nabvar-right') do %>
          <div class="form-group">
            <%=  date_field_tag :q,Date.yesterday %>
          </div>
          <div class="form-group">
            <%=  date_field_tag :m,Date.today, options = {:max=> Date.today} %>
         </div>
         <div class="btn-group" role="toolbar" aria-label="Basic example">
          <%= submit_tag "Search", class: "btn btn-secondary " %>
         </div>

      <% end %>
    </ul>
  </div>
</nav>
